# Add or remove rows

In [43]:
import pandas as pd

In [44]:
# dictionary 
cars = {
    "brand": ["Ford", "BMW", "Toyota", "Honda", "Ford", "BMW", "Toyota", "Honda", "Ford", "BMW", "Toyota", "Honda", "Ford", "BMW", "Toyota", "Honda"],
    "electric": [False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True],
    "year": [1964, 2022, 2019, 2021, 2018, 2021, 2020, 2023, 2017, 2022, 2023, 2021, 2019, 2021, 2018, 2022],
    "engine": ['F5', 'B7', 'T6', 'H4', 'F4', 'B6', 'T5', 'H3', 'F9', 'B8', 'T4', 'H2', 'F6', 'B5', 'T3', 'H1']
}

df=pd.DataFrame(cars)
df

     brand  electric  year engine
0     Ford     False  1964     F5
1      BMW      True  2022     B7
2   Toyota     False  2019     T6
3    Honda      True  2021     H4
4     Ford     False  2018     F4
5      BMW      True  2021     B6
6   Toyota     False  2020     T5
7    Honda      True  2023     H3
8     Ford     False  2017     F9
9      BMW      True  2022     B8
10  Toyota     False  2023     T4
11   Honda      True  2021     H2
12    Ford     False  2019     F6
13     BMW      True  2021     B5
14  Toyota     False  2018     T3
15   Honda      True  2022     H1

In [45]:
df['model']= df['brand']+' '+df['engine']
df

     brand  electric  year engine      model
0     Ford     False  1964     F5    Ford F5
1      BMW      True  2022     B7     BMW B7
2   Toyota     False  2019     T6  Toyota T6
3    Honda      True  2021     H4   Honda H4
4     Ford     False  2018     F4    Ford F4
5      BMW      True  2021     B6     BMW B6
6   Toyota     False  2020     T5  Toyota T5
7    Honda      True  2023     H3   Honda H3
8     Ford     False  2017     F9    Ford F9
9      BMW      True  2022     B8     BMW B8
10  Toyota     False  2023     T4  Toyota T4
11   Honda      True  2021     H2   Honda H2
12    Ford     False  2019     F6    Ford F6
13     BMW      True  2021     B5     BMW B5
14  Toyota     False  2018     T3  Toyota T3
15   Honda      True  2022     H1   Honda H1

In [46]:
df['model'].str.split(' ',expand=True) # ' ' الحاجه الي هتفصل بينهم 
# expand --> seprate each in one col

         0   1
0     Ford  F5
1      BMW  B7
2   Toyota  T6
3    Honda  H4
4     Ford  F4
5      BMW  B6
6   Toyota  T5
7    Honda  H3
8     Ford  F9
9      BMW  B8
10  Toyota  T4
11   Honda  H2
12    Ford  F6
13     BMW  B5
14  Toyota  T3
15   Honda  H1

In [47]:
# df.append({'brand': 'BMW'}, ignore_index=True) deprecated !!!!!!!!!!!!!

In [48]:
df.drop(columns=['model']) 
df.drop(index=3) # drop index means row !

     brand  electric  year engine      model
0     Ford     False  1964     F5    Ford F5
1      BMW      True  2022     B7     BMW B7
2   Toyota     False  2019     T6  Toyota T6
4     Ford     False  2018     F4    Ford F4
5      BMW      True  2021     B6     BMW B6
6   Toyota     False  2020     T5  Toyota T5
7    Honda      True  2023     H3   Honda H3
8     Ford     False  2017     F9    Ford F9
9      BMW      True  2022     B8     BMW B8
10  Toyota     False  2023     T4  Toyota T4
11   Honda      True  2021     H2   Honda H2
12    Ford     False  2019     F6    Ford F6
13     BMW      True  2021     B5     BMW B5
14  Toyota     False  2018     T3  Toyota T3
15   Honda      True  2022     H1   Honda H1

# Sorting

In [49]:
df.sort_values(ascending=True,by='year',inplace=True)
# df.sort_values(ascending=[True,False],by=['brand','year'])  --> sort using 2 cols  using 2 ascending

In [50]:
df  # notice here the index not sorted

     brand  electric  year engine      model
0     Ford     False  1964     F5    Ford F5
8     Ford     False  2017     F9    Ford F9
4     Ford     False  2018     F4    Ford F4
14  Toyota     False  2018     T3  Toyota T3
2   Toyota     False  2019     T6  Toyota T6
12    Ford     False  2019     F6    Ford F6
6   Toyota     False  2020     T5  Toyota T5
3    Honda      True  2021     H4   Honda H4
5      BMW      True  2021     B6     BMW B6
11   Honda      True  2021     H2   Honda H2
13     BMW      True  2021     B5     BMW B5
1      BMW      True  2022     B7     BMW B7
9      BMW      True  2022     B8     BMW B8
15   Honda      True  2022     H1   Honda H1
7    Honda      True  2023     H3   Honda H3
10  Toyota     False  2023     T4  Toyota T4

In [51]:
df.sort_index() # sort the index

     brand  electric  year engine      model
0     Ford     False  1964     F5    Ford F5
1      BMW      True  2022     B7     BMW B7
2   Toyota     False  2019     T6  Toyota T6
3    Honda      True  2021     H4   Honda H4
4     Ford     False  2018     F4    Ford F4
5      BMW      True  2021     B6     BMW B6
6   Toyota     False  2020     T5  Toyota T5
7    Honda      True  2023     H3   Honda H3
8     Ford     False  2017     F9    Ford F9
9      BMW      True  2022     B8     BMW B8
10  Toyota     False  2023     T4  Toyota T4
11   Honda      True  2021     H2   Honda H2
12    Ford     False  2019     F6    Ford F6
13     BMW      True  2021     B5     BMW B5
14  Toyota     False  2018     T3  Toyota T3
15   Honda      True  2022     H1   Honda H1

In [52]:
df['engine'].sort_values() # sort column

13    B5
5     B6
1     B7
9     B8
4     F4
0     F5
12    F6
8     F9
15    H1
11    H2
7     H3
3     H4
14    T3
10    T4
6     T5
2     T6
Name: engine, dtype: object

In [53]:
# df['year'].nlargest(2) --> اكبر اتنين
df['year'].nsmallest(2) # --> اصغر اتنين

0    1964
8    2017
Name: year, dtype: int64

# exporting data

In [58]:
conditon=(df['brand']=='Honda')
modifed=df.loc[conditon]
modifed

    brand  electric  year engine
3   Honda      True  2021     H4
7   Honda      True  2023     H3
11  Honda      True  2021     H2
15  Honda      True  2022     H1

In [64]:
modifed.to_csv('modifed.csv',index=False) # index=False to create new index instead of old 
# (remove the old)

df=pd.read_csv('modifed.csv')
df

   brand  electric  year engine
0  Honda      True  2021     H4
1  Honda      True  2023     H3
2  Honda      True  2021     H2
3  Honda      True  2022     H1

In [65]:
modifed.to_excel('modifed.xlsx',index=False)